<div position="relative">
    <div class="participantsArea">
        <div ng-repeat="participant in participants">
            <div class="participant">{{participant.displayName}}</div>
            <img src="images/kitura-bird.svg" height="15px" width="20px"
                style="vertical-align: middle;" ng-show="participant.typing"/>
        </div>
    </div>

    <div class="splitter"></div>

    <div class="messagesArea"></div>

    <div class="inputAreaSplitter"></div>

    <div class="inputArea">
        <textarea id="inputAreaField" style="height: 100%; width: 100%;"
                  ng-keydown="inputAreaInput($event)"></textarea>
    </div>

    <div class="coverFrame"></div>

    <div class="displayNameArea">
        <div>Please enter your display name to be used in the chat</div>
        <form id="displayNameForm" >
            <input type="text" ng-model="displayName" style="margin-top: 20px;"/>
            <div style="margin-top: 20px;">
                <button ng-click="displayNameEntered()" ng-disabled="displayName.length == 0"
                        style="background-color: #0099e7; color: white;">
                    OK
                </button>
            </div>
        </form>
    </div>
</div>
